<nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark navigation-clean">
    <div class="container-fluid"><a class="navbar-brand" href="{% url 'main:index' %}">RYU&nbsp;</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link {{ dashboard }}" href="{% url 'main:index' %}">Home</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown"
                                                 aria-expanded="false" href="#">My Account</a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" href="{% url 'auth:logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>